.autocomplete-item {
    border: 1px solid lightgray;
    border-top: none;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    z-index: 999;
    background-color: white;
}

.autocomplete-item:hover {
    background-color: gray;
}
