.autocomplete-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.autocomplete-input {
    background-color: #f1f1f1;
    border: none;
    font-size: 22px;
    padding: 10px;
}
